<a href="https://colab.research.google.com/github/Mutinda-Kioko/python_basics_assignments./blob/main/python_basics_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Variables in Python**
  

---
  Exercises

---


1.   Declare a variable named age and assign your age to it.

In [3]:
age = 25

2.   Create two variables x = 10 and y = 5. Print their sum.

In [1]:
x=10
y=5

print("The sum is:", x + y)

The sum is: 15

3.   Try using an invalid variable name like 2ndName and observe the error.

In [2]:
print("invalid variable", 2ndName)

SyntaxError: invalid decimal literal (ipython-input-1731477885.py, line 1)

4.   Assign a string to a variable and print it.

In [6]:
ndName = "Kioko"
print(ndName)

#in python , variable names cannot start with a number

Kioko

**Challenge**

---


Write a program that asks the user to input their name and age, and then prints a greeting.

In [7]:
name = input("Enter your name: ")
age = input("Enter your age: ")

# Print a greeting
print("Hello", name + "! You are", age, "years old.")

Enter your name: Kioko
Enter your age: 20
Hello Kioko! You are 20 years old.

**2. Data Types**

---
Exercises


---



1.   Print the type of 42, 3.14, and 'hello'.

In [8]:
print(type(42))
print(type(3.14))
print(type('hello'))

<class 'int'>
<class 'float'>
<class 'str'>

2.Convert a string '100' to an integer.

In [10]:
s = '100'
print("before conversion")
print(s)
print(type(s))

num = int(s)
print("after conversion")
print(num)
print(type(num))

before conversion
100
<class 'str'>
after conversion
100
<class 'int'>

3.Add an integer and a float together. What is the result?

In [11]:
x = 10
y = 3.5

result = x + y
print(result)
#the result is a float
print(type(result))

13.5
<class 'float'>

4.What happens when you try to multiply a string by a number?

In [12]:
text = "Hi "
print(text * 3)

Hi Hi Hi

As above, in python, multiplying a string by a number repeats the string that many times as the number.

**Challenge**


---

Write a program that:

*  Asks the user to enter two numbers (as strings)
*  Converts them to integers or floats
*  Prints their sum and type

In [13]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

num1 = float(num1)
num2 = float(num2)

result = num1 + num2

print("The sum is:", result)
print("The type of the result is:", type(result))

Enter the first number: 3
Enter the second number: 5.6
The sum is: 8.6
The type of the result is: <class 'float'>

**3.Data Structures**


---
Exercises


---

1.Create a list of 5 fruits and print the third fruit.

In [14]:
fruits = ["Grapes", "Banana", "Mango", "Orange", "Pears"]

print("The third fruit is:", fruits[2])

The third fruit is: Mango

2.Create a dictionary with keys: name, age. Print the value of age.

In [15]:
person = {
    "name": "Kioko",
    "age": 25
}

print("Age:", person["age"])

Age: 25

3.Define a tuple with three numbers. Try modifying it. What happens?

In [16]:
numbers = (10, 20, 30)

print("Original tuple:", numbers)


numbers[0] = 99

Original tuple: (10, 20, 30)

TypeError: 'tuple' object does not support item assignment

The code above will raise an error:"TypeError: 'tuple' object does not support item assignment"

4. Create a set from a list with duplicate values.

In [17]:
numbers = [1, 2, 2, 3, 4, 4, 5]

unique_numbers = set(numbers)

print("Original list:", numbers)
print("Set with unique values:", unique_numbers)

Original list: [1, 2, 2, 3, 4, 4, 5]
Set with unique values: {1, 2, 3, 4, 5}

**Challenge**

---
Create a program that:



*   Takes 5 user inputs and stores them in a list
*   Converts the list into a set and prints the unique values

In [18]:
items = []
for i in range(5):
    value = input(f"Enter item {i+1}: ")
    items.append(value)

unique_items = set(items)

print("Original list:", items)
print("Unique values (set):", unique_items)

Enter item 1: 2
Enter item 2:
Enter item 3: 46
Enter item 4: 2
Enter item 5: 7
Original list: ['2', '', '46', '2', '7']
Unique values (set): {'', '46', '2', '7'}

**4.Loops**


---
Exercises


---

1. Use a for loop to print numbers from 1 to 10.

In [19]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Use a while loop to print numbers until the user enters stop.

In [20]:
while True:
    user_input = input("Enter something type 'stop' to quit: ")

    if user_input.lower() == "stop":
        print("Loop ended.")
        break
    else:
        print("You entered:", user_input)

Enter something (type 'stop' to quit): 1
You entered: 1
Enter something (type 'stop' to quit): 3
You entered: 3
Enter something (type 'stop' to quit): re
You entered: re
Enter something (type 'stop' to quit): stop
Loop ended.

3. Write a loop that prints even numbers from 1 to 20.

In [21]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

4. Explain what break and continue do in your own words.

      A **break** statement immediately ends the loop, no matter if the loop condition is still true or not, and the program execution comtinues after the loop.

      A **continue** statement skips the rest of the code inside the loop for the current iteration but the loop still goes on to the next iteration.

**Challenge**


---


Write a guessing game that asks the user to guess a secret number between 1 and 10.

Give feedback (too high / too low)
Use a while loop

In [22]:
import random

secret_number = random.randint(1, 10)

print("🎲 Guess the secret number between 1 and 10!")

while True:
    guess = input("Enter your guess: ")

    if not guess.isdigit():
        print("Please enter a number.")
        continue

    guess = int(guess)

    if guess < secret_number:
        print("Too low! Try again.")
    elif guess > secret_number:
        print("Too high! Try again.")
    else:
        print("🎉 Correct! The secret number was", secret_number)
        break

🎲 Guess the secret number between 1 and 10!
Enter your guess: 3
Too low! Try again.
Enter your guess: 7
Too high! Try again.
Enter your guess: 5
Too high! Try again.
Enter your guess: 6
Too high! Try again.
Enter your guess: 4
🎉 Correct! The secret number was 4

**5:Control Flow**

---



Exercises

---
1. Write a program that checks if a number is positive, negative, or zero.

In [25]:
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 0
The number is zero.

2. Create a program that checks if someone is eligible to vote.

In [26]:
age = input("Enter your age: ")
age = int(age)

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 0
You are not eligible to vote.

3. Write a program that takes 3 numbers and prints the largest one.

In [28]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

print("The largest number is:", largest)

Enter first number: 2
Enter second number: 4
Enter third number: 5
The largest number is: 5

4. Practice combining and, or, not.

Using and

In [29]:
age = 20
has_id = True

if age >= 18 and has_id:
    print("You can enter the club.")
else:
    print("Access denied.")

You can enter the club.

Using or

In [30]:
day = "Saturday"

if day == "Saturday" or day == "Sunday":
    print("It's the weekend! 🎉")
else:
    print("It's a weekday.")

It's the weekend! 🎉

Using not

In [31]:
is_raining = False

if not is_raining:
    print("You don't need an umbrella. ☀️")
else:
    print("Take your umbrella! ☔")

You don't need an umbrella. ☀️

Combining all of them:

In [34]:
age = 19
has_permission = True

if (age >= 18 and has_permission) or (age < 18 and not has_permission):
    print("Allowed")
else:
    print("Not allowed")

Allowed

**Challenge**

---


Build a grading system:

Input score (0–100)

Output grade: A (90+), B (80–89), etc.

In [35]:
score = float(input("Enter your score (0–100): "))

if score < 0 or score > 100:
    print("Score must be between 0 and 100.")
else:
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    elif score >= 50:
        grade = "E"
    else:
        grade = "F"

    print("✅ Your grade is:", grade)

Enter your score (0–100): 101
Score must be between 0 and 100.

**6. Functions**

---



Exercises

---

1. Write a function greet(name) that prints “Hello, [name]”.

In [36]:
def greet(name):
    print(f"Hello, {name}")

In [37]:
greet("Kioko")

Hello, Kioko

2. Create a function add(a, b) that returns the sum.

In [38]:
def add(a, b):
    return a + b

In [39]:
result = add(10, 5)
print("The sum is:", result)

The sum is: 15

3. Modify add() to print “even” or “odd” based on the result.

In [40]:
def add(a, b):
    result = a + b
    print("The sum is:", result)

    if result % 2 == 0:
        print("even")
    else:
        print("odd")

    return result

In [42]:
add(10, 5)

add(10, 4)

The sum is: 15
odd
The sum is: 14
even

14

4. Call a function from within another function.

In [43]:
# Function 1
def greet(name):
    return f"Hello, {name}!"

# Function 2 (calls greet inside)
def welcome_user(name):
    message = greet(name)  # calling greet()
    print(message)
    print("Welcome to the system.")

In [44]:

welcome_user("Alice")

Hello, Alice!
Welcome to the system.

**Challenge**

---


Write a calculator function:

Takes two numbers and an operation (+, -, *, /)

Returns the result

In [45]:
def calculator(a, b, operation):
    if operation == "+":
        return a + b
    elif operation == "-":
        return a - b
    elif operation == "*":
        return a * b
    elif operation == "/":
        if b != 0:
            return a / b
        else:
            return "Error: Division by zero"
    else:
        return "Error: Invalid operation"

In [46]:
print(calculator(10, 5, "+"))
print(calculator(10, 5, "-"))
print(calculator(10, 5, "*"))
print(calculator(10, 5, "/"))
print(calculator(10, 0, "/"))
print(calculator(10, 5, "^"))

15
5
50
2.0
Error: Division by zero
Error: Invalid operation

**7. Classes, Objects & Methods**


---


Exercises:


---


**1. Class and Object Basics**

Define a class named Student with the following attributes:



*   name
*   age
*   grade

Create a method display_info() that prints the student's details.

Create three student objects and call the method for each to display their details.

In [47]:
# Defining the Student class
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, Grade: {self.grade}")

In [48]:
# Creating 3 student objects
student1 = Student("Kioko", 20, "A")
student2 = Student("Kimani", 19, "B")
student3 = Student("Charlie", 21, "A+")

In [49]:
student1.display_info()
student2.display_info()
student3.display_info()

Name: Kioko, Age: 20, Grade: A
Name: Kimani, Age: 19, Grade: B
Name: Charlie, Age: 21, Grade: A+

**2. Instance vs Class Methods**


---


Define a class named BankAccount with:


*   account_number
*   balance

Add methods:

*   deposit(amount)
*   withdraw(amount)
*   display_balance()

Add a class variable to store the bank name and a class method to display the bank name.

Create two account objects and perform deposits and withdrawals.

In [50]:
class BankAccount:
    # Class variable
    bank_name = "LuxDev Bank"

    def __init__(self, account_number, balance=0):
        self.account_number = account_number
        self.balance = balance

    # Deposit method
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited {amount}. New balance: {self.balance}")
        else:
            print("Deposit amount must be positive.")

    # Withdraw method
    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient funds.")
        elif amount <= 0:
            print("Withdrawal amount must be positive.")
        else:
            self.balance -= amount
            print(f"Withdrew {amount}. New balance: {self.balance}")

    # Display balance method
    def display_balance(self):
        print(f"Account {self.account_number} balance: {self.balance}")

    # Class method to display bank name
    @classmethod
    def display_bank_name(cls):
        print(f"Bank Name: {cls.bank_name}")

In [51]:

# Display the bank name
BankAccount.display_bank_name()

# Create two account objects
acc1 = BankAccount("001", 500)
acc2 = BankAccount("002", 1000)

# Perform transactions
acc1.deposit(200)
acc1.withdraw(100)
acc1.display_balance()

acc2.deposit(500)
acc2.withdraw(2000)
acc2.display_balance()

Bank Name: LuxDev Bank
Deposited 200. New balance: 700
Withdrew 100. New balance: 600
Account 001 balance: 600
Deposited 500. New balance: 1500
Insufficient funds.
Account 002 balance: 1500

**3. Encapsulation**


---


Create a class Car with:

Private attributes: __make, __model, __year, __speed

Methods to:

    Get and set make, model, and year.

    Increase and decrease speed.

    Display all car details.

Create a Car object, update its attributes, and demonstrate encapsulation.

In [52]:
class Car:
    def __init__(self, make, model, year):
        # private attributes
        self.__make = make
        self.__model = model
        self.__year = year
        self.__speed = 0

    # Getters
    def get_make(self):
        return self.__make

    def get_model(self):
        return self.__model

    def get_year(self):
        return self.__year

    def get_speed(self):
        return self.__speed

    # Setters
    def set_make(self, make):
        self.__make = make

    def set_model(self, model):
        self.__model = model

    def set_year(self, year):
        self.__year = year

    # Speed control
    def increase_speed(self, amount):
        if amount > 0:
            self.__speed += amount
            print(f"Speed increased by {amount}. Current speed: {self.__speed}")
        else:
            print("Increase amount must be positive.")

    def decrease_speed(self, amount):
        if amount > 0:
            if self.__speed - amount >= 0:
                self.__speed -= amount
                print(f"Speed decreased by {amount}. Current speed: {self.__speed}")
            else:
                self.__speed = 0
                print("Car stopped. Current speed: 0")
        else:
            print("Decrease amount must be positive.")

    # Display all details
    def display_details(self):
        print(f"Car Details: {self.__year} {self.__make} {self.__model}, Speed: {self.__speed}")

In [53]:
# --- Example Usage ---
car1 = Car("Toyota", "Corolla", 2020)

# Display initial details
car1.display_details()

# Update attributes using setters
car1.set_make("Honda")
car1.set_model("Civic")
car1.set_year(2022)

# Change speed
car1.increase_speed(50)
car1.decrease_speed(20)

# Display updated details
car1.display_details()

# Access via getters (not directly!)
print("Make:", car1.get_make())
print("Model:", car1.get_model())
print("Year:", car1.get_year())

Car Details: 2020 Toyota Corolla, Speed: 0
Speed increased by 50. Current speed: 50
Speed decreased by 20. Current speed: 30
Car Details: 2022 Honda Civic, Speed: 30
Make: Honda
Model: Civic
Year: 2022

**4. Methods with Objects as Arguments**


---


Create a class Circle with:

Attributes: radius

Method area() and circumference().

Create a class Cylinder that takes a Circle object and height.

Method volume() to compute the volume using the circle's area.

Demonstrate by creating a Circle object and passing it to the Cylinder object.

In [1]:
PI = 3.142

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return PI * (self.radius ** 2)

    def circumference(self):
        return 2 * PI * self.radius


class Cylinder:
    def __init__(self, circle, height):
 # expects a Circle object
        self.circle = circle
        self.height = height

    def volume(self):
        return self.circle.area() * self.height

In [2]:
circle1 = Circle(5)
print("Circle area:", circle1.area())
print("Circle circumference:", circle1.circumference())

cylinder1 = Cylinder(circle1, 10)
print("Cylinder volume:", cylinder1.volume())

Circle area: 78.55
Circle circumference: 31.419999999999998
Cylinder volume: 785.5

**5.Object Relationships (Aggregation)**

---



Create a class Author with:

Attributes: name, nationality

Method to display author info.

Create a class Book with:

Attributes: title, price, and author (Author object).

Method to display book details including author info.

Create one author and multiple books related to that author.

In [4]:
# Author class
class Author:
    def __init__(self, name, nationality):
        self.name = name
        self.nationality = nationality

    def display_info(self):
        print(f"Author: {self.name}, Nationality: {self.nationality}")


# Book class (has an Author object)
class Book:
    def __init__(self, title, price, author):
        self.title = title
        self.price = price
        # expects an Author object
        self.author = author

    def display_details(self):
        print(f"Book: {self.title}, Price: ${self.price}")
        # include author details
        self.author.display_info()

In [5]:
# Create one Author
author1 = Author("Chinua Achebe", "Nigerian")

# Create multiple books related to that author
book1 = Book("Things Fall Apart", 12.99, author1)
book2 = Book("No Longer at Ease", 10.99, author1)
book3 = Book("Arrow of God", 11.49, author1)

# Display details of each book
book1.display_details()
print("-" * 40)
book2.display_details()
print("-" * 40)
book3.display_details()

Book: Things Fall Apart, Price: $12.99
Author: Chinua Achebe, Nationality: Nigerian
----------------------------------------
Book: No Longer at Ease, Price: $10.99
Author: Chinua Achebe, Nationality: Nigerian
----------------------------------------
Book: Arrow of God, Price: $11.49
Author: Chinua Achebe, Nationality: Nigerian

**Challenge**

---


Create a class Rectangle with:

Attributes: length and width

Method area() and perimeter().

Write a method that takes another rectangle object as an argument and compares their areas.

Create multiple rectangles and compare them.

In [6]:
class Rectangle :
  def __init__(self,length, width):
    self.length = length
    self.width = width

  def area(self):
    return self.length * self.width

  def perimeter(self):
    return 2 * (self.length + self.width)

  def compare_area(self, other_rectangle):
    if self.area() > other_rectangle.area():
      return f"{self.area()} is greater than {other_rectangle.area()}"

In [7]:
rect1 = Rectangle(10, 5)
rect2 = Rectangle(8, 6)
rect3 = Rectangle(4, 12)

print("Rectangle 1 area:", rect1.area(), "Perimeter:", rect1.perimeter())
print("Rectangle 2 area:", rect2.area(), "Perimeter:", rect2.perimeter())
print("Rectangle 3 area:", rect3.area(), "Perimeter:", rect3.perimeter())

# Compare rectangles
rect1.compare_area(rect2)
rect2.compare_area(rect3)
rect1.compare_area(rect3)

Rectangle 1 area: 50 Perimeter: 30
Rectangle 2 area: 48 Perimeter: 28
Rectangle 3 area: 48 Perimeter: 32

'50 is greater than 48'